.heroSection {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
}

.imageContainer {
  display: block;
  max-height: 70vw;
}

.heroImage {
  max-width: 100%;
  max-height: auto;
}

/* desktop layout */
@media screen and (min-width: 1024px) {
  .heroSection {
    justify-content: space-between;
    flex-direction: row;
  }

/* I'm not reusing the Section component's styles here because this one needs to be treated differently. */
.textContainer {
    max-height: 100%;
    max-width: 43%;
    margin-right: 0rem;
  }
  .imageContainer {
    max-width: 55%;
    margin-right: -2.25rem;
    margin-top: -4rem;
  }
  .heroImage {
    max-width: 112%;
    max-height: auto;
  }
}

