.videoContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 50vw;
}

.reactPlayer {
  overflow: hidden;
  border-radius: 16px;
}

@media screen and (min-width: 1024px) {
  /* This is the setting that makes it match the designs on most desktop viewports. I may add another breakpoint to account for small desktops and pads. This attribute is also different than the .sectionHeader
  property in the Presenter component because it needs to be slightly larger (more horizontal space) per the
  design. */
  .sectionHeader {
    max-width: 70%;
  }

  .videoContainer {
    max-height: 28vw;
    width: 75%;
    margin: 2rem auto 2rem;
    padding-bottom: 1.5rem;
  }
}