.footerContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1.25rem;
}

.footerContainer img {
  height: auto;
  max-width: 100%;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms span:nth-child(1) {
  margin-right: 2rem;
}

/* desktop layout */
@media screen and (min-width: 1024px) {
  .footerContainer {
    grid-template-columns: .4fr 3fr .4fr;
  }
}
