.background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 75vw;
  height: auto;
  background-color: white;
  z-index: 10;
  border-radius: 15px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}

.modalContent {
  padding: .75rem;
  text-align: center;
}

.modalContent h4 {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.modalContent h5 {
  margin-bottom: 1rem;
}

.modalContent p {
  text-align: left;
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -7px;
  margin-right: -7px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-black);
  padding: .25rem .5rem;
  border: none;
  border-radius: 6px;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-6px, 6px);
}

@media screen and (min-width: 1024px) {
  .modal {
    width: 50vw;
  }
}