.darkBG {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 30vw;
  height: auto;
  background-color: white;
  z-index: 10;
  border-radius: 15px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}

.modalContent {
  padding: .75rem;
  text-align: center;
}

.modalContent p {
  text-align: left;
}

.closeBtn {
  cursor: pointer;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  color: var(--color-black);
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-6px, 6px);
}
