@import './index.css';

p {
  font-weight: 300;
  font-size: .74rem;
  line-height: 1.25rem;
  letter-spacing: .075px;
}

.xs {
  display: block;
  font-size: 0.5rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: .5rem;
}


.lg {
  font-size: 1.6rem;
  font-weight: 800;
}

.xl {
  font-size: 2rem;
  font-weight: 800;
  color: var(--color-white);
  margin: 0 0 .75rem;
}

