
.imageRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25rem;
  margin-top: .25rem;
}

.imageRow img {
  max-width: 100%;
}

  @media screen and (min-width: 1024px) {
    /* .section {
      padding: 4rem 11.5rem 1rem;
      background-size: contain;
    } */

    .imageRow {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 1.25rem;
      margin-top: .25rem;
    }

    .imageRow img {
    max-width: 110%;
    }
}